header {
  background-color: blueviolet;
  padding-inline: 8px;
  padding-bottom: 0px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

img {
  width: 50px;
}

.hamburguer {
  padding-bottom: 2px;
}

.navWindow {
  margin: 0;
  padding-left: 5px;
  background-color: chartreuse;
  width: 15%;
  position: absolute;
  display: flex-collum;
}

.navLink {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oText {
  margin-right: 5px;
}